/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.menu-bar,
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.menu-bar a,
.menu-open p,
.menu-close p {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu-open p{
    font-size: 22px;
    
}



.menu-bar a:hover,
.menu-open p:hover,
.menu-close p:hover {
    color: #51a59e;
}

.menu-overlay {
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* transition: clip-path 0.25s ease-in-out; */
}

.menu-overlay-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.menu-logo a {
    font-size: 1.6em;
    font-weight: bold;
    color: #ffffff;
}

/* .menu-close-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    font-size: 3em;
    color: #000;
}

.menu-close-icon p {
    --webkit-text-stroke: 5px rgba(255, 255, 255, 0.1);
} */

.menu-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 2em 0;
}

.menu-link-item {
    margin: 1em 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
    position: relative;
}

.menu-link-item-holder a {
    color: #ffffff;
    font-size: 70px;
    font-weight: 500;
    letter-spacing: -0.01em;
    
}

.menu-link-item-holder a:hover {
    color: #fff;
}

.menu-info {
    display: flex;
}

.menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-preview {
    display: none; /* Keeping it hidden, you can style it as needed */
}

/* Responsive Styles */
@media (max-width: 900px) {
    .menu-bar,
    .menu-overlay-bar {
        padding: 1em;
    }

    .menu-logo a {
        font-size: 1.2em;
    }

    .menu-copy {
        padding-top: 4em;
    }

    .menu-link-item-holder a {
        font-size: 2.5em; /* Adjusted for smaller screens */
    }

    .menu-close-icon {
        display: none;
    }
}

/* Hover Effects */
.menu-bar a:hover,
.menu-open p:hover {
    color: #6abfc3;
}

.menu-close p:hover {
    color: #fff;
}
